@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using ShoeShop.Models
<section class="content-header">
    <h1>
        Product List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    @if ( TempData["error"] != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible">
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    Deleted Failed!!
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productList" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Category</th>
                                <th>Featured</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in ViewBag.products)
                            {
                                Product pr = (Product)product;
                                var photo = pr.Photos.SingleOrDefault(p => p.Featured == true);
                            <tr>
                                <td>@product.Id</td>
                                <td>
                                    <b>@product.Name</b>
                                </td>
                                <td><img src="~/product/@photo.Name" /></td>
                                <td>@product.Price</td>
                                <td>@(product?.Status ? "Show" : "Hide")</td>
                                <td>@(product?.Featured ? "Featured" : "")</td>
                                <td>@(product.Category.Name)</td>
                                <td>
                                    <a asp-area="admin" asp-action="edit" asp-controller="product" asp-route-id="@product.Id">Edit</a><span> | </span>
                                    <a asp-area="admin" asp-action="delete" asp-controller="product" asp-route-id="@product.Id" onclick="return confirm('Are you sure?')">Delete</a><span> | </span>
                                    <a asp-area="admin" asp-action="index" asp-controller="photo" asp-route-id="@product.Id">Photo of Product</a><span> | </span>
                                    <a asp-area="admin" asp-action="add" asp-controller="photo" asp-route-id="@product.Id">Add Photo</a>
                                </td>
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#productList').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
    });
</script>

