@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using ShoeShop.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
<div class="span9">
    <ul class="breadcrumb">
        <li><a asp-controller="home" asp-action="index">Home</a> <span class="divider">/</span></li>
        <li class="active">@ViewBag.Category.Name</li>
    </ul>
    <h3> @ViewBag.Category.Name <small class="pull-right"> @ViewBag.CountProducts products are available </small></h3>
   
    <hr class="soft">

    <div id="myTab" class="pull-right">
        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
    </div>
    <br class="clr">
    <div class="tab-content">
        <div class="tab-pane" id="listView">
            @foreach (var product in ViewBag.Products)
            {
                Product productInfo = ((Product)product);
                Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                var photoName = photo == null ? "no-image.jpg" : photo.Name;
                <div class="row">
                    <div class="span2">
                        <img src="~/product/@photoName" alt="">
                    </div>
                    <div class="span4">
                        <h3>New | Available</h3>
                        <hr class="soft">
                        <h5>@productInfo.Name </h5>
                        <p>
                            @productInfo.Description
                        </p>
                        <a class="btn btn-small pull-right" asp-action="details" asp-route-id="@product.Id" asp-controller="product">View Details</a>
                        <br class="clr">
                    </div>
                    <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $ @productInfo.Price</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>

                            <a asp-action="buy" asp-controller="cart" asp-route-id="@product.Id" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a asp-action="details" asp-route-id="@product.Id" asp-controller="product" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                        </form>
                    </div>
                </div>
                <hr class="soft">
            }
        </div>

        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                @foreach (var product in ViewBag.Products)
                {
                    Product productInfo = ((Product)product);
                    Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                    var photoName = photo == null ? "no-image.jpg" : photo.Name;
                    <li class="span3">
                        <div class="thumbnail">
                            <a asp-action="details" asp-route-id="@product.Id" asp-controller="product"><img src="~/product/@photoName" alt=""></a>
                            <div class="caption">
                                <h5>@productInfo.Name</h5>
                                <p>
                                    @productInfo.Description
                                </p>
                                <h4 style="text-align:center">
                                    <a class="btn" asp-action="details" asp-route-id="@product.Id" asp-controller="product"> <i class="icon-zoom-in"></i></a>
                                    <a class="btn" asp-action="buy" asp-controller="cart" asp-route-id="@product.Id">Add to <i class="icon-shopping-cart"></i></a>
                                    <a class="btn btn-primary" href="#">$ @productInfo.Price</a></h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="soft">
        </div>
    </div>

    <a href="compair.html" class="btn btn-large pull-right">Compair Product</a>
    <div class="pagination">
        <ul>
            @Html.PagedListPager((IPagedList)ViewBag.Products, page => Url.Action("category", "product", new { page = page, id = ViewBag.Category.Id}))
        </ul>
    </div>
    <br class="clr">
</div>