
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Customer List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productList" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in ViewBag.Customers)
                            {
                            <tr>
                                <td>@customer.Id</td>
                                <td>@customer.Username</td>
                                <td>@customer.Fullname</td>
                                <td>@customer.Email</td>
                                <td>@(customer?.Status ? "Active" : "Inactive")</td>

                                <td>
                                    <a asp-area="admin" asp-action="edit" asp-controller="customer" asp-route-id="@customer.Id">Edit</a><span> | </span>
                                    <a asp-area="admin" asp-action="delete" asp-controller="photo" asp-route-id="@customer.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#productList').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
    });
</script>

